pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    overflow: hidden;
}

code {
  display: block;
  padding: 12px 24px;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
}

code.has-numbering {
    margin-left: 31px;
}

.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    padding: 10px 2px 6px 0;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #f7f7f7;
    text-align: right;
    font-family: Menlo, monospace;
    color: #aaa;
}